.b-login-page {
  padding-top: 5.4rem;
  background-image: url('https://i.pinimg.com/originals/5c/7a/46/5c7a463dea4258e726374d960432e658.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}